<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Giao_diện_câu_2.Properties.Settings.DB_QLCH_ADB1_14ConnectionString"
            connectionString="Data Source=HUYENE856\SQLEXPRESS;Initial Catalog=DB_QLCH_ADB1_14;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>